@font-face {
  font-family: "Bold";
  src: url("../public/font/IBMPlexArabic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold";
  src: url("../public/font/IBMPlexArabic-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: url("../public/font/IBMPlexArabic-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: url("../public/font/IBMPlexArabic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Light";
  src: url("../public/font/IBMPlexArabic-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Thin";
  src: url("../public/font/IBMPlexArabic-Thin.ttf") format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
  font-family: "Regular";
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #111C36;
}
header .login {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
header .login a {
  padding: 5px 30px;
  color: #F3F1EF;
  font-family: "Medium";
  font-size: 15pt;
  text-decoration: none;
  background-color: #26C5A8;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  flex-direction: row-reverse;
}
header .login a .next {
  position: relative;
  transform: rotate(180deg);
  width: 50px;
  transition: transform 1s ease;
}
header .login a .next > span {
  color: #F3F1EF;
  position: absolute;
  font-size: 20pt;
}
header .login a:hover {
  background-color: #4fceb6;
  padding: 5px 50px;
}
header .login a:hover .next :nth-child(1) {
  transform: translateX(10px);
}
header .login a:hover .next :nth-child(3) {
  transform: translateX(-10px);
}
header .LogoContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 250px;
  justify-content: center;
  align-items: flex-end;
}
header .LogoContainer :nth-child(1) {
  width: 20%;
}
header .LogoContainer :nth-child(2) {
  width: 50%;
  margin: 0px 20px;
}

.markets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.markets > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  margin: 30px;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 1px 1px 20px 3px rgba(34, 43, 64, 0.2);
}
.markets > div img {
  width: 100%;
  transition: 0.5s;
}
.markets > div h2 {
  font-size: 18pt;
  color: #5398FF;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.markets > div p {
  text-align: justify;
  margin: 15px 20px;
}
.markets > div span {
  align-self: flex-end;
  margin: auto 0px 30px 10px;
  color: #F3F1EF;
  border-radius: 20px;
  padding: 3px 10px;
}
.markets > div .inUse {
  background: #5398FF;
}
.markets > div .Cooming {
  background: #26C5A8;
}
.markets > div:hover img {
  transform: scale(1.1);
}

.benefit {
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
  flex-wrap: wrap;
  width: 100%;
}
.benefit > div {
  display: flex;
  flex-direction: column;
  width: calc(50% - 100px);
  margin: 30px;
  background-color: #FFFFFF;
  padding: 20px;
}
.benefit .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.benefit .title :nth-child(1) {
  font-size: 18pt;
  background-color: #D9D9D9;
  color: #f64635;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
}
.benefit .title h2 {
  margin-right: 20px;
  color: #5398FF;
  font-family: "SemiBold";
  font-size: 13pt;
}/*# sourceMappingURL=style.css.map */